<!-- components/navbar.html -->

<nav class="bg-green-50 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800" hx-boost="true">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a href="{% url 'index' %}" >
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Django</span>
        </a>
        <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <!-- ... (your SVG paths) ... -->
            </svg>
            <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <!-- ... (your SVG paths) ... -->
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                <li><a href="{% url 'about' %}" hx-get="{% url 'about' %}" hx-target="#content">About</a></li>
                <li><a href="{% url 'hero' %}" hx-get="{% url 'hero' %}" hx-target="#content">Gallery</a></li>
            </ul>
        </div>
    </div>
</nav>